In [28]:
%matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

Using matplotlib backend: MacOSX

In [29]:
import numpy as np
import pandas as pd

In [30]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [31]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [32]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [33]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [34]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [35]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [36]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [37]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database
latest_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
# print(latest_date)
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)


# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.station, Measurement.date, Measurement.prcp).filter(Measurement.date > query_date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns = ['station', 'date','precipitation'])

# Sort the dataframe by date
rain_and_date = df[["date","precipitation"]]
rain_and_date = rain_and_date.sort_values("date")
rain_and_date = rain_and_date.set_index("date")
rain_and_date_mean = rain_and_date.groupby(['date']).mean()

dates = list(rain_and_date_mean.index.values)

# Use Pandas Plotting with Matplotlib to plot the data

rain_and_date_mean.plot(kind='bar', stacked=True, width=3, rot=90)
plt.xticks(np.arange(0, len(dates), 50))
plt.xlabel("Date")
plt.ylabel("Inches")
plt.show()

In [38]:
# Use Pandas to calcualte the summary statistics for the precipitation data
rain_and_date.describe()

       precipitation
count    2015.000000
mean        0.176462
std         0.460288
min         0.000000
25%         0.000000
50%         0.020000
75%         0.130000
max         6.700000

In [39]:
# Design a query to show how many stations are available in this dataset?
unique_stations = session.query(Station.station).count()
unique_stations

9

In [44]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
station_count = session.query(Measurement.station, Measurement.date).all()
station_count_df = pd.DataFrame(station_count)

grouped_stations = station_count_df.groupby(['station'])
grouped_stations = grouped_stations.count()
grouped_stations = grouped_stations.sort_values(["date"], ascending=False)
grouped_stations = grouped_stations.reset_index(drop=False)
grouped_stations

       station  date
0  USC00519281  2772
1  USC00519397  2724
2  USC00513117  2709
3  USC00519523  2669
4  USC00516128  2612
5  USC00514830  2202
6  USC00511918  1979
7  USC00517948  1372
8  USC00518838   511

In [53]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
most_active_station = grouped_stations['station'].iloc[0]
most_active_results = session.query(Measurement.station, Measurement.tobs).filter_by(station = most_active_station)
df_most_active = pd.DataFrame(most_active_results, columns=['Station','Temperature'])

min_temp = df_most_active['Temperature'].min()
max_temp = df_most_active['Temperature'].max()
avg_temp = df_most_active['Temperature'].mean()
print(min_temp)
print(max_temp)
print(avg_temp)

54.0
85.0
71.66378066378067

In [54]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
temp_results = session.query(Measurement.station, Measurement.date, Measurement.tobs).\
    filter(Measurement.date > query_date).\
    filter(Measurement.station == most_active_station)

df_temp_results = pd.DataFrame(temp_results, columns=['Station','Date','Temperature'])
df_temp_results.head()

       Station        Date  Temperature
0  USC00519281  2016-08-24         77.0
1  USC00519281  2016-08-25         80.0
2  USC00519281  2016-08-26         80.0
3  USC00519281  2016-08-27         75.0
4  USC00519281  2016-08-28         73.0

In [55]:
plt.hist(df_temp_results['Temperature'])
plt.xlabel("Temperature")
plt.ylabel("Frequency")
plt.show()

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`